---
title: Implementations
---
<div class="ui very padded segment" style="min-height: 450px">
  <h2>{{ title }}</h2>
  <div data-tooltip="Sorted alphabetically" class="ui top right attached label">
    <i class="small info icon grey"></i>
  </div>
  <div class="ui two columnn grid">
    <div class="column">
      <div class="ui large bulleted list" style="margin-top: 0 !important;">
      {%- for imp in implementations -%}
        <div class="item" data-title="{{ imp[0] }}">
          {%- assign categories = results.testsByCompany[imp[0]] | keys | sort -%}
          <a href="{{ imp[0] | slugify }}">{{ imp[0] }}</a>
          {% assign seen = '' %}
          {% for cat in categories %}
            {% assign lc = cat | downcase %}
            {% if lc contains 'issuer' %}
              {% assign labelName = 'Issuer' %}
            {% elsif lc contains 'verifier' %}
              {% assign labelName = 'Verifier' %}
            {% else %}
              {% assign labelName = 'Other' %}
            {% endif %}
            {% unless seen contains labelName %}
              <label class="ui basic label">{{ labelName }}</label>
              {% assign seen = seen | append: labelName | append: '|' %}
            {% endunless %}
          {% endfor %}
        </div>
      {%- endfor -%}
      </div>
    </div>
    <div class="column" v-scope="store" id="imp-filter">
      <div class="ui segment">
        <h4 classs="ui header">Filter by Implemented Specification
          <button class="ui right floated mini button" @click="clearFilter()">
            Clear Filter
          </button>
        </h4>
        <div class="ui middle aligned selection list">
          <div class="item" v-for="spec in store.specs" @click="filterBySpec(spec.title, $el)">
            <i class="small gray outline circle icon"></i>
            <div class="content" v-text="spec.title"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import {createApp} from 'https://unpkg.com/petite-vue?module';
  createApp({
    store: {
      specs: {{ results.specsImplementedBy | jsonify }}
    },
    clearFilter() {
      document.querySelectorAll('.ui.selection.list .item').forEach((el) => {
        el.classList.remove('active');
        el.children[0].classList.remove('dot');
      });
      document.querySelectorAll('.ui.bulleted.list .item').forEach((el) => {
        el.style.display = 'block';
      });
    },
    setSelected(title) {
      document.querySelectorAll('.ui.selection.list .item').forEach((el) => {
        if(el.children[1].innerText === title) {
          el.classList.add('active');
          el.children[0].classList.add('dot');
        } else {
          el.classList.remove('active');
          el.children[0].classList.remove('dot');
        }
      });
    },
    filterBySpec(title, $el) {
      this.setSelected(title);
      const filtered = this.store.specs.filter(spec => {
        return spec.title === title;
      }).map(spec => spec.implementations).flat();
      // hide all specifications
      document.querySelectorAll('.ui.bulleted.list .item').forEach((el) => {
        el.style.display = 'none';
      });
      // show only filtered specifications
      console.dir(JSON.stringify(filtered))
      const domFilter = '.ui.bulleted.list .item[data-title="' +
        filtered.join('"], .ui.bulleted.list .item[data-title="') + '"]';
      console.log(domFilter)
      document.querySelectorAll(domFilter).forEach((el) => {
        el.style.display = 'block';
      });
      return filtered;
    }
  }).mount('#imp-filter');
</script>
